@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  z-index: 1;
}

* body {
  background-image: url("https://wallpaper.dog/large/17255315.jpg");
  background-size: cover;
  color: white;
  font-family: 'Space Mono', monospace;
  overflow: hidden;
}

* body .scene p {
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-animation: star linear infinite;
          animation: star linear infinite;
  z-index: 0;
}

* body main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  min-height: 95vh;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

* body main h1 {
  font-size: 7.5rem;
  margin-top: 5rem;
}

* body main h4 {
  font-size: 1.5rem;
}

* body main .timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 7rem 0;
  padding: 10rem;
  border-radius: 50%;
  height: 32rem;
  width: 32rem;
  background-color: darkorange;
  -webkit-box-shadow: 0 0 25px 15px orange;
          box-shadow: 0 0 25px 15px orange;
  z-index: 2;
}

* body main .timer h2 {
  font-size: 7.5rem;
  text-shadow: 2px 2px 0 black;
}

* body main .design .saturn {
  position: absolute;
  display: inline;
  top: 50%;
  right: 5%;
  height: 150px;
  width: 250px;
  background-image: url("http://assets.stickpng.com/images/580b585b2edbce24c47b270d.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 0;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

* body main .modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 25%;
  width: 50rem;
  height: 50rem;
  visibility: hidden;
  background-image: url("../img/spaceship.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: black;
  border-radius: 1.5rem;
  -webkit-transform: translateX(-250%);
          transform: translateX(-250%);
  z-index: 3;
}

* body main .modal h2 {
  font-size: 50px;
}

* body main .modal .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5rem;
}

* body main .modal .buttons .btn-modal {
  width: auto;
  height: 5rem;
  padding: 1rem;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 5px black;
          box-shadow: 1px 1px 5px black;
  margin-top: 5rem;
}

* body main .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

* body main .buttons button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3rem;
  border-radius: 50%;
  padding: 1rem;
  width: 5rem;
  height: 5rem;
  border: none;
  outline: none;
}

* body main .buttons .earth {
  background-image: url("https://static.wixstatic.com/media/2cd43b_578af8f28bba4f1e91d62f66ebae7995~mv2.png/v1/fill/w_300,h_300,q_90/2cd43b_578af8f28bba4f1e91d62f66ebae7995~mv2.png");
  background-size: cover;
}

* body main .buttons .mars {
  background-image: url("http://pngimg.com/uploads/mars_planet/mars_planet_PNG38.png");
  background-size: cover;
}

* body main .buttons .mercury {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/b9/3D_Mercury.png");
  background-size: cover;
}

* body main .buttons .jupiter {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/e1/Jupiter_%28transparent%29.png");
  background-size: cover;
}

@-webkit-keyframes star {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10%, 90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}

@keyframes star {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10%, 90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
/*# sourceMappingURL=index.css.map */